body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .header {
    background-color: #fff;
    padding: 20px;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0;
    margin-bottom: 20px; 
  }
  
  .container {
    max-width: 960px;
    margin: 50px auto;
    margin: 1px;
    padding: 20px;
  }
  
  nav {
    text-align: right;
  }
  
  nav a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
  }
  
  .Logo {
    width: 150px;
    height: 120px;
    top: 20px;
    left: 20px;
  }
  
  .contato {
    margin-top: 50px;
  }
  
  .contato h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  .contact-options {
    display: flex; /* Use flexbox layout */
    flex-direction: row; /* Arrange items horizontally */
    justify-content: space-between; /* Distribute items evenly with space between */
    align-items: center; /* Vertically center items within the container */
  }
  
  .contact-option {
    width: 30%; /* Maintain 30% width for each option */
    flex-basis: 30%; /* Ensure minimum width if wrapping occurs */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
  }
  
  .contact-option p {
    margin-bottom: 10px;
  }
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    background-color: #1976d2;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #1152b3;
  }


  .main-content img {
    
  
    margin-left: 100px;
    padding-right: 100px;
  }
#main-content {
    text-align: center; /* Centraliza o conteúdo dentro da div */
}

#main-content img {
    display: block; /* Garante que a imagem se comporta como um bloco */
    margin: 0 auto; /* Centraliza horizontalmente */
    max-width: 100%; /* Garante que a imagem não ultrapasse a largura da div */
    height: auto; /* Mantém a proporção da imagem */
   
}
