
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

header .header {
    background-color: #fff;
    padding: 20px;
    border-bottom: 1px solid #ddd;
    position: sticky;
    top: 0; /* Mantém o cabeçalho na parte superior da tela */
    margin-bottom: 20px;
}

nav {
    text-align: right;
}

nav a {
    color: #333;
    text-decoration: none;
    margin-left: 20px;
}

.container {
    max-width: 960px;
    margin: 20px auto;
    background-color: #ddd;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
    margin-bottom: 20px;
}

.contact-options {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
    background-color: #fff;
}

.contact-option {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-option1 {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-option1 img {
    margin-right: center;
    width: 70px;
    right: 20%;
    margin-bottom: 50%;
}

.contact-option2 {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-option3 {
    width: 30%;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-option p {
    margin-bottom: 10px;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 350px;
}


.Logo{
    width: 150px;
    height: 120px;
    top: 20px;
    left: 20px;
}
html, body {
    height: 100vh; /* Altura mínima da página igual à altura da viewport */
}



.pagina-login {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.card-login {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

 h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-bottom: 5px;
}



input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

